.countryIcon .css-13cymwt-control {
    border: none !important;
    height: 40px !important;
    background: #FFFFFF !important;
    box-shadow: 2.42px 4.84px 12.1px rgb(0 0 0 / 6%) !important;
    border-radius: 7.26px !important;
    font-weight: 500 !important;
    font-size: 14px !important;
}