.countryIcon .css-13cymwt-control {
    border: none !important;
    height: 40px !important;
    background: #FFFFFF !important;
    box-shadow: 2.42px 4.84px 12.1px rgb(0 0 0 / 6%) !important;
    border-radius: 7.26px !important;
    font-weight: 500 !important;
    font-size: 14px !important;
}

span.countryText {
    margin: 8px;
    font-size: 15px;
    font-weight: 400;
    color: #4B4B4B;
    font-family: 'Nunito';
}

span.resultText {
    color: #EC4624;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Nunito';
    margin: 5px;
    font-family: 'Nunito' sans-serif !important;
}

.countryIcon{
    padding: 5px;
    margin-top: 5px;
}



/* new list css  */
.classifiedList {
    background-color: #ffffff;
}

.classiFiedsImage img {
    width: 100%;
    max-width: 200px;
}

.topSection {
    padding: 18px;
}

.css-13cymwt-control {
    border: none !important;
}

.css-1xc3v61-indicatorContainer {
    display: none !important;
}

.css-tj5bde-Svg {
    display: inline-block;
    /* fill: currentColor; */
    line-height: 1;
    stroke: currentColor;
    stroke-width: 0;
}

.css-tj5bde-Svg {
    /* display: inline-block; */
    /* fill: currentColor; */
    /* line-height: 1; */
    /* stroke: currentColor; */
    /* stroke-width: 0; */
    display: none;
}

.css-13cymwt-control:hover {
    /* border-color: hsl(0, 0%, 70%); */
}

.css-1fdsijx-ValueContainer:focus{
    border: none !important;
    outline: none !important;

}

.css-1fdsijx-ValueContainer:focus{
    display: none!important;
    outline: none;
}

.countryText div#location {
    width: 100%;
    max-width: 307px;
    border: none !important;
    outline: none !important;
    position: absolute;
    bottom: 35px;
    left: 96px;
}