:root {
    --danger: #fa626b;
}

.btn {
    background-color: #ec4624;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    width: 100%;
    font-size: 16px;
    margin-top: 10px;
    font-weight: 600;
    height: 40px;
}

.btn:hover {
    background-color: #ec4624 !important;
    color: #FFFFFF !important;
}

.btn:active {
    background-color: #ec4624 !important;
}

.btn:focus {
    outline: 0;
    box-shadow: none !important;
}