.navHeader .navbar-nav a.nav {
    background: #828282 !important;
    border-radius: 23.52px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 10px 16px;
    margin-right: 9px;
    margin-top: 15px;
    text-decoration: none;
    max-width: 200px;
}

.navHeader .navbar-nav a.nav.active {
    background: #EC4624 !important;
}

.navHeader img.icon {
    margin-right: 7px;
}

@media only screen and (max-width: 400px) {
    .navHeader .navbar-expand .navbar-nav {
        flex-direction: column !important;
    }
}

.ulValue1 {
    flex-wrap: wrap;
}