.main {
    padding-top: 23px;
    margin-bottom: 50px;
}

.signupForm {
    background-color: #fff;
    width: 100%;
    max-width: 430px;
    margin: auto;
    padding: 40px;
}

.topHeading h1 {
    font-size: 20px;
    color: #000000;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}

.loginComponents {
    background: #F6F6F6;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px 20px;
    cursor: pointer;
}

.loginComponents h3 {
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    margin-bottom: 0px;
}

.loginComponents img {
    width: 60px;
    height: 60px;
    margin-right: 25px;
}

.accountType {
    margin-top: 20px;
}

.accountType p {
    color: #242424;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}


.accountType span {
    color: #000;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}


/* social signup facebook css */

.loginComponents button.my-facebook-button-class.metro {
    border: none !important;
    background-color: #F6F6F6;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    margin-bottom: 0px;
    cursor: pointer;
    padding: 0px !important;
    text-align: left;
}

.loginformcomponent button.my-facebook-button-class.metro {
    border: none !important;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    margin-bottom: 0px;
    cursor: pointer;
    margin-top: 36px;
}


@media screen and (min-width: 320px) and (max-width: 325px) {
    .accountType p {
        font-size: 13px;
    }

    .accountType span {
        font-size: 13px;
    }
}