.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background: #EC4624 !important;
    box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.03);
    border-radius: 6px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-pills .nav-link,
.nav-pills .show>.nav-link {
    background: #DFDFDF !important;
    box-shadow: 0px 25px 40px rgb(0 0 0 / 3%);
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    margin-top: 10px;
    position: relative;
}

.addTabs svg {
    font-weight: 700;
    font-size: 25px;
    position: absolute;
    right: 5px;
}

.collapsed .showIcon {
    display: none;
}

.hideIcon {
    display: none;
}

.collapsed .hideIcon {
    display: block;
}

.alertBody .modal-dialog {
    max-width: 342px !important;
    height: 302px;
    transform: translate(0,140px) !important;
}

.inputBox .css-b62m3t-container {
    width: 100%;
    min-width: 300px;
}

@media screen and (min-width: 360px) and (max-width: 575px) {
    .alertBody .modal-dialog {
        max-width: 342px !important;
        height: 302px;
        margin: auto;
        margin-top: 28px;
    }
}