.searchBar {
    display: flex;
    margin-top: 15px;
}

.searchBar .form-control {
    border: none !important;
    box-shadow: none !important;
    font-size: 14px;
    font-weight: 400;
    background: #FAFAFA;
    border-radius: 4px;
}

.searchBar .form-control:focus {
    border: none !important;
}

.searchBar svg {
    color: #FFFFFF;
    font-weight: 700;
    background: #EC4624;
    padding: 6px;
    width: 38px;
    height: 38px;
    margin-left: 6px;
    border-radius: 4px;
    cursor: pointer;
}