.searchBar {
    display: flex;
    margin-top: 15px;
}

.searchBar .form-control {
    border: none !important;
    box-shadow: none !important;
    font-weight: 400;
    background: #FAFAFA;
    border-radius: 4px;
    height: 40px;
}

.searchBar .form-control:focus {
    border: none !important;
}

.searchBar svg {
    color: #FFFFFF;
    font-weight: 700;
    background: #EC4624;
    padding: 6px;
    width: 39px;
    height: 39px;
    margin-left: 6px;
    border-radius: 4px;
    cursor: pointer;
}

.searchedComponent .latestDeals  {
    margin-top: 23px !important;
    margin-bottom: 0px !important;
}

.searchedComponent .CompanyData_productslist__S3jUx {
    margin-top: 23px !important;
    margin-bottom: 0px !important;
}

.searchedComponent .classiFieds_forSaleBox {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.searchedComponent .main {
    margin-bottom: 0px !important;
}

.backBtnSearch {
    align-items: baseline !important;
}

.searchModuleBox {
    margin-bottom: 40px;
}

@media only screen and (min-width: 1200px) {
    .searchBar {
        justify-content: flex-end;
    }
}